doctype html
include head.pug
include header.pug
section.container-favs
div.favs-vacio
  span No hay items en favoritos 
    i.far.fa-frown
  a(href="/productos") Continuar navegando
include footer.pug
