footer
  span Buenos Aires, Argentina. Copyright 2017 ®.
  div.links
    a.link-face(href="https://www.facebook.com/GarbarinoGarantiaDeConfianza" target='_blank')
      i.fab.fa-facebook-square
    a.link-insta(href="https://www.instagram.com/garbarinoarg/" target='_blank')
      i.fab.fa-instagram
    a.link-tw(href="https://twitter.com/garbarino" target='_blank')
      i.fab.fa-twitter-square
script(type='text/javascript' src='/javascripts/fontawesome-all.js')
script(type='text/javascript' src='/javascripts/jquery-3.3.1.min.js')
script(type='text/javascript' src='/javascripts/index.js')
script(src='https://code.jquery.com/jquery-1.12.4.js')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
